/* header and nav layout */
header .nav-wrapper {
  background-color: transparent linear-gradient(180deg,#000,transparent) 0 0 no-repeat padding-box;
  width: 100%;
  z-index: 2;
  position: fixed;
  transition: background-color 1.3s;
}

.header.inverted .nav-wrapper{
  background: var(--background-color);
  box-shadow: 0 2px 10px rgba(0 0 0 / 16%);
}

header nav {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
  grid-template:
      'brand tools hamburger'
      'sections sections sections';
  grid-template-rows: var(--nav-height) auto 1fr auto;
  grid-template-columns: 1fr auto 30px;
}

header nav[aria-expanded="true"] {
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 17px;
  align-items: center;
}

header nav .nav-hamburger button .line {
  fill: none;
  stroke: var(--background-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .header.inverted .nav-hamburger button .line {
  stroke: var(--text-color);
}

header nav .nav-hamburger button .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header nav .nav-hamburger button .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

header nav .nav-hamburger button .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header nav .nav-hamburger button.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header nav .nav-hamburger button.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

header nav .nav-hamburger button.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* Mobile Hamburger End */

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header .header {
  color: var(--background-color);
}

header .header.header.inverted {
  color: var(--text-color);
}

header .header .nav-brand .ai-red-logo {
  display: none;
}

header .header .nav-brand .ai-white-logo {
  display: block;
}

header .header.inverted .nav-brand .ai-white-logo {
  display: none;
}

header .header.inverted .nav-brand .ai-red-logo {
  display: block;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools .nav-tools-wrapper > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .nav-tools .nav-tools-wrapper .icon-support, header nav .nav-tools .nav-tools-wrapper .icon-search {
  display: none;
}

header .header nav .nav-tools img {
  filter: invert(1);
  width: 18px;
  height: auto;
}

header .header.inverted nav .nav-tools img {
  filter: none;
}

